*~
*.o
*.a
*.dblite
tags
TAGS
mir-worker-stats
mir-task-stats
junk
*.rec
*.taskmetainfo
*.perfctrinfo
*.prv
*.pcf
*.BACK
*.BAK
*.pyc
*.csv
*.dot
*.mmap
*.stdout
*.stderr
*.info
*.swp
obj-intel64
prof_results_*
timestamp
verbose-build
debug-build
opt-build
prof-build
mir-task-stats.processed*
*-plots.pdf
*-scatter-plot.pdf
task-graph-shape-depth.pdf
task-graph-shape.pdf
task-graph-sibling-balance-ec-plot.pdf
task-graph.sibling-balance-(ec)-plot.pdf
task-graph-sibling-balance-wc-plot.pdf
task-graph.sibling-balance-(wc)-plot.pdf
task-graph.adjmat
task-graph.cpu_id_to_color
task-graph.edgelist
task-graph.graphml
task-graph.nodeattr
task-graph.parallel_benefit_to_color
task-graph.tag_to_color
.Rhistory
.Rdata
*.swp
